@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=PT+Serif:ital@1&display=swap');
body {
  background-image: url("../public/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

@layer components {
  .social-icons {
    @apply w-6 h-6 hover:scale-125 duration-200 ease-out cursor-pointer;
  }
}
